<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >

    <a class="navbar-brand" href="#" style="font-size: 40px; font-family:Georgia, 'Times New Roman', Times, serif" >Godrej</a>
    <img src="../../assets/godrej icon.png" style="width: 60px; height: 60px;">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="font-size: 16px; margin-left: 70px;">
       
            <div class="m-4 outline-buttons" style="margin-left: 150px;">
             
                <a routerLink="homefurnitur"><button type="button" class="btn btn-outline-secondary">HomeFurniture</button>
                <button type="button" class="btn btn-outline-secondary">OfficeFurniture</button>
             
                <button type="button" class="btn btn-outline-secondary">ShopeFurniture</button>
             
                <button type="button" class="btn btn-outline-secondary" routerLink="search">Delet</button></a>
             
             
            </div>
        </ul>
      
    </div>
</nav>
<div class="container">
    <div class="row">
               <div id="custom-search-input">
                                <div class="input-group col-md-12" style="text-align: center">
                                    <input type="text" class="search-query form-control" placeholder="Search With Email Address"  name="email" [(ngModel)]="email"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="button" (click)="findUserByEmailId()">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
    </div>
    </div>
    <div style=" background-image: url(../../../sofa.jpg); background-size: 100%;">
<div class="container">
<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Experience</th>
            <th>Domain</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td style="background-color: rgb(209, 221, 221);">{{user.id}}</td>
            <td style="background-color: rgb(199, 204, 204);">{{user.name}}</td>
            <td style="background-color: rgb(207, 209, 209);">{{user.email}}</td>
            <td style="background-color: rgb(188, 197, 197);">{{user.experience}}</td>
            <td style="background-color: rgb(193, 207, 207);">{{user.domain}}</td>
            <td style="background-color: rgb(211, 212, 212);" class="text-center"><button class="btn btn-danger btn-xs" (click)="delteUser(user.id)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
          </tr>
    </tbody>
    </table>
    </div>
</div>
</div>
</div>





