<body class="bg">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >

    <a class="navbar-brand" href="#" style="font-size: 40px; font-family:Georgia, 'Times New Roman', Times, serif" >Godrej</a>
   
    
</nav>
<div class="row">
    <div class="column">
      <img src="../../assets/homefurniturepics/1.jpg">
      <img src="../../assets/homefurniturepics/2.jpg">
      <img src="../../assets/homefurniturepics/3.jpg">
      <img src="../../assets/homefurniturepics/4.jpg">
      <img src="../../assets/officefurniture/1.jpg">
      <img src="../../assets/officefurniture/2.jpg">
      <img src="../../assets/officefurniture/3.jpg">
    </div>
    <div class="column">
      <img src="../../assets/homefurniturepics/5.jpg">
      <img src="../../assets/homefurniturepics/6.jpg">
      <img src="../../assets/homefurniturepics/7.jpg">
      <img src="../../assets/homefurniturepics/8.jpg">
      <img src="../../assets/officefurniture/4.jpg">
      <img src="../../assets/officefurniture/5.jpg">
    </div>
    <div class="column">
      <img src="../../assets/homefurniturepics/9.jpg">
      <img src="../../assets/homefurniturepics/10.jpg">
      <img src="../../assets/homefurniturepics/11.jpg">
      <img src="../../assets/officefurniture/6.jpg">
      <img src="../../assets/officefurniture/7.jpg">
      <img src="../../assets/shopefurniture/8.jpg">
      <img src="../../assets/shopefurniture/9.jpg">
    </div>
    <div class="column">
      <img src="../../assets/homefurniturepics/12.jpg">
      <img src="../../assets/homefurniturepics/13.jpg">
      <img src="../../assets/homefurniturepics/1.jpg">
      <img src="../../assets/shopefurniture/1.jpg">
      <img src="../../assets/shopefurniture/2.jpg">
      <img src="../../assets/shopefurniture/3.jpg">
    </div>
  </div>
</body>